# Dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment variables
#.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker
.docker/
docker-compose.override.yml

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Build
/build
/dist
/.next
/out

# Logs
logs
*.log

# Coverage
/coverage

# Testing
/cypress/videos/
/cypress/screenshots/

# Temporary files
*.tmp
*.temp
.cache/

# System Files
.DS_Store
Thumbs.db

# Docker volumes
mongodb_data/

# Frontend specific
frontend/build/
#frontend/.env
frontend/node_modules/

# Backend specific
backend/node_modules/
#backend/.env
#backend/data/*.json
#!backend/data/stations.json  # Garder le fichier de données initiales

# Misc
*.pid
*.seed
*.pid.lock 